
<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8">
<title>Santosh's Guestbook</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/
bootstrap.min.css">

</head>
</head>
<!-- BootStrap navbar menu changes with the screen size-->
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
				aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

		</div>

<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
            <li class="active"><a href="#">This is Guest book page!<span class="sr-only">(current)</span></a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="Home.html">Home</a></li>
            <li><a href="games.html">Games are right here!</a></li>
            <li><a href="guestbook">Guest Book</a></li>
            	
        </ul>
        </li>
        
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>
<body style="background-color:	#008080;">
<body class="container">


<h1 style="color:	#00FFFF; text-align:center; font-family: new century schoolbook;">
My Express Guestbook
<a href="/new-entry" class="btn btn-success pull-right">
Write in the guestbook
</a>
</h1>
