<% include header %>

<h2>Write a new entry</h2>
 

<form method="post" role="form">
<div class="form-group">
<label for="title">Title</label>
<input type = "text" class="form-control" id="title"
  name="title" placeholder="Enter the game name" rows="2" required></div>

<div class="form-group">
<label for="content">Entry text</label>
<textarea class="form-control" id="body" name="body"
placeholder="Write the games you know" rows="3" required></textarea></div>

<div class="form-group">
<input type="submit" value="Post entry" class="btn btn-info"></div>
</form>
<% include footer %>
