h2 {
    text-align: center;
}
body {
    
    background-image: url("cream.jpg");

    }
 img {
    border-radius: 250px;
    border: 1px solid blue;
    padding: 5px;
    border-color: blue;
    margin: auto;
    align:center;

    
    }

iframe {

	margin-right: 30px;
  




}

.intro {

    margin: 10px;
   padding: 10px;
   max-width: 600px;
   height: 260px;
   border: 1px solid black;
   background-color: orange;
}
.middle {
   margin: 10px;
   padding: 10px;
   max-width: 600px;
   height: 260px;
   border: 1px solid black;
   background-color:springgreen;
}

.skills {
   
   margin: 10px;
   padding: 10px;
   max-width: 600px;
   height: 260px;
   border: 1px solid black;
   background-color: lightgrey;





}


h3
{
  color: powderblue;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: yellow;
}

.active {
    background-color: blue;
}

    li {
    border-right: 1px solid black;
  }
  .bottomright {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 18px;
}
ol {
    display: block;
    list-style-type: decimal;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
    
}
