h2 {
    text-align: center;
}
body {
    
    background-image: url("cream.jpg");
    }
 img {
    border-radius: 250px;
    border: 1px solid blue;
    padding: 5px;
    border-color: blue;
    margin: auto;
    
    }

iframe {

	margin-right: 30px



}

.intro {
   float: left;
   margin: 10px;
   padding: 10px;
   max-width: 300px;
   height: 300px;
   border: 1px solid black;
   background-color: orange;
}

.button {
    background-color: navy blue;
    border: none;
    color: green;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin:4px 2px;
    cursor: pointer;
}


}
a:hover {
    background-color: yellow;
  }

  b:hover {
    background-color: violet;
}

 a:hover {
    background-color: yellow;
}

