h1 {
    
    color:white; 
    
    
}
body {
       background-image: url("Games.jpg");
}

div {
   color: green ;
}
p {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    color:green;

}


}

h2 {
    text-align: center;
    color: green;
    margin-left: 20px;
}


img:hover {
    color:red;
}
h3 {
    color:white;
}
h5
{
    color:green;
    }

    .reg {

    margin-left: 30px;
   float: left;
   margin: 10px;
   padding: 10px;
   max-width: 300px;
   height: 615px;
   border: 1px solid black;
   background-image: url("gm.jpg");
}
form.center {
    color: orange;
    font-size: 200%;
}
.bottomright {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 18px;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: yellow;
}

.active {
    background-color: blue;
}
img.left
{
    align:right;
}
div.reg{

    align:justify;
}